.footertodo {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  transition: 0.5s;
}

.footercuerpo {
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  background-color: #f49d81;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  height: 150px;
  margin-bottom: 1rem;
}

.social-icons-container,
.footer-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.social-icon {
  height: 65px;
  width: 65px;
  border-radius: 50px;
  border: 2.5px solid #f2f2f2;
  background-image: url(./facebook-circle-logo-24.png);
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  margin: 1rem;
}

.social-icon:hover {
  background-color: #faceb2;
  filter: invert(0);
}

.social-icon:nth-of-type(2) {
  background-image: url(./gmail-logo-24.png);
}

.footer-menu-container {
  list-style-type: none;
  color: #000000;
  font-size: 18px;
}

.menu-item {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}

.menu-item:hover {
  opacity: 1;
}

.copyright {
  color: #000000;
  opacity: 0.3;
  text-align: center;
}
