.cardP-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
  padding: 20px;
  color: #060606;
}

h1 {
  font-size: 36px;
  color: #333;
  text-align: center;
}
.nombreh3 {
  text-decoration: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardP {
  width: 100%;
  max-width: 300px;
  background-color: #ffffe3;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  overflow: hidden;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
}

.cardP-image:hover {
  transform: scale(
    1.1
  ); /* Aumenta el factor de escala para un efecto más suave */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Reduce la intensidad de la sombra */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Agrega transiciones para hacer el cambio más suave */
}

.cardP-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cardP-content {
  padding: 20px;
  text-align: center;
}

h3 {
  font-size: 24px;
  margin: 0;
  color: #333;
  text-decoration: none;
}

p {
  font-size: 16px;
  color: #4d4a4a;
  margin-top: 10px;
}

.pcolor {
  font-size: 16px;
  color: #4d4a4a;
  margin-top: 10px;
}
.price {
  display: block;
  font-size: 20px;
  color: #e44d26;
  margin-top: 10px;
}

.ver-mas-button {
  background-color: #e6b95c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 15px;
  margin-right: 10px;
}

.ver-mas-button:hover {
  background-color: #dea244;
}

.agregar-button {
  background-color: #e6b95c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 15px;
  margin-left: 10px;
}

.agregar-button:hover {
  background-color: #000000;
}
/* Estilos adicionales para dispositivos más pequeños */
@media screen and (max-width: 768px) {
  .cards {
    flex-direction: column; /* Cambia a apilamiento vertical en dispositivos más pequeños */
  }
}

.tamaño-personalizado {
  width: 250px; /* ajusta el ancho según tus preferencias */
  height: auto; /* ajusta la altura según tus preferencias o utiliza un valor fijo */
}
